
# Backup files and python byte code
*pyc
*~

# The settings file will be different for everyone so don't keep it in revision
# control
/config.txt

# Python anydbm files created from versioned text files, code runs without these
# files (but should speed up with them)
library/evita/dictionaries/wn*.db
