
body {
   max-width: 900pt;
   background-color: #fff;
   margin: 10pt;
}

body, p, td {
   font-size: 14pt;
   line-height: 18pt
}

h1 {
   background-color: lightyellow;
   border-style: solid;
   border-width: thin;
   margin-top: 10pt;
   padding: 15pt;
   padding-left: 10pt;
   font-size: 24pt
}

h2 {
   background-color: lightyellow;
   border-style: solid;
   border-width: thin;
   margin-top: 30pt;
   margin-bottom: 15pt;
   padding: 10pt;
   font-size: 16pt
}

code {
   font-size: 14pt
}

.example {
    margin-left: 30pt;
    margin-right: 30pt;
    padding: 10pt;
    border: thin dotted gray;
    font-family: monospace;
    background-color: #eee;
}

.navigation {
    font-size: 120%;
}

.subtitle {
    font-size: 110%;
}